<div class="row">
  <div class="col-md-6">
    <h1>Editing Product</h1>

    <%= render 'form' %>

    <%= link_to 'Show', @product %> |
    <%= link_to 'Back', products_path %>
  </div>
  <div class="col-md-6">
    <%= render 'features' %>      
  </div>
</div>

